.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

ul {
  list-style: none;
}

.sidebar-link, .homeListing, .formLabels, .current_total_cost {
  color: rgb(68, 18, 92);
}

.heading {
  color: rgb(68, 18, 92);
  font-size: 30px;
}

.formLabels {
  font-size: 20px;
}

.formBtn {
  background-color:rgb(68, 18, 92);
  color: rgb(232, 185, 245);
  font-weight: bold;
}

.formBtn:hover {
  color: rgb(255, 255, 255);
  background-color:rgb(98, 23, 133);
}

.homeListing {
  font-size: larger;
}

.curent_total_cost {
  font-size: smaller;
}

.itemListing {
  color:rgb(68, 18, 92);
}

.itemPrice {
  color: rgb(6, 102, 18);
  font-weight: bold;
}

.current_cost {
  color: rgb(6, 102, 18);
}

.mainContent {
  border-left: 1px solid rgb(226, 204, 236);
}
